@import '../../../../../../Constants';

@import '../../../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Selector';



#{$Selector}
{
	Font-family: #{$Font_Text};
	Margin: 0;
	Text-align: Center;
	Text-wrap: Balance;
	User-select: Text;

	@media #{$WideScreen}
	{
		Align-items: Center;
		Display: Flex;
		Flex-grow: 1;
	}
}