@import '../../../../../../Constants';

@import '../../../../../../../../../../../Library/Code/Frontend/Source/Elements/Elements/Paragraph/Style';

@import './Selector';



#{$Selector}
{
	Align-items: Center;
	Display: Flex;
	Flex-grow: 1;
	Font-family: #{$Font_Text};
	Margin: 0;
	Text-align: Center;
	Text-wrap: Balance;
	User-select: Text;
}