@import '../../Constants';

@import '../../../../../../../Library/Code/Frontend/Source/Elevation';
@import '../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Logo/Style';
@import './Tabs/Style';

@import './Selector';



#{$Selector}
{
	@media #{$WideScreen}
	{
		Display: Flex;
		Justify-content: Space-between;
		Padding-block: 25px;
		Padding-inline: #{25px + $BorderRadius * 2};
	}

	@media #{$NarrowScreen}
	{
		Line-height: 1;
		Padding: 25px;
		Text-align: Center;
	}
}