@use '../../../../../../../Library/Code/Frontend/Source/Shadows' as Shadows;

@import '../../Constants';

@import '../../../../../../../Library/Code/Frontend/Source/Elevation';
@import '../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Logo/Style';
@import './Tabs/Style';

@import './Selector';



#{$Selector}
{
	@media #{$WideScreen}
	{
		Box-sizing: Border-box;
		Display: Flex;
		Justify-content: Space-between;
		Padding-block: 25px;
		Padding-inline: #{25px + $BorderRadius * 2};
		Position: Fixed;
		Top: 0;
		Transition: Box-shadow 250ms, Background-color 250ms;
		Width: 100%;

		&.Scrolled
		{
			@include Elevation(2, 0);

			Box-shadow: Shadows.$Low;
		}
	}

	@media #{$NarrowScreen}
	{
		Line-height: 1;
		Padding: 25px;
		Text-align: Center;
	}
}