@import '../../../../../../../Library/Code/Frontend/Source/Elements/Elements/Dialog/Style';
@import './Description/Style';
@import './Heading/Style';



$Elevation: 2;
$Width: 350px;
$Padding: 25px;
$Gap: 10px;



#Root > Dialog
{
	Display: Flex;
	Flex-direction: Column;
	Gap: #{$Gap} 0;
	Padding: #{$Padding};
	Width: #{$Width};

	@media (Prefers-color-scheme: Dark)
	{
		@include Elevation(0, $Elevation);
	}
}