@use '../../../../../../../Library/Code/Frontend/Source/FallbackFonts' as FallbackFonts;



$Font: 'Google Sans', FallbackFonts.$SansSerif;



@font-face
{
	Font-display: Swap;
	Font-family: 'Google Sans';
	Src: URL(./Assets/400.ttf);
}

@font-face
{
	Font-display: Swap;
	Font-family: 'Google Sans';
	Font-weight: 500;
	Src: URL(./Assets/500.ttf);
}