@import '../../../../../../Constants';

@import '../../../../../../../../../../../Library/Code/Frontend/Source/Elements/Elements/DecorativeImageWithAlpha/Style';

@import './Selector';



#{$Selector}
{
	Height: 150px;
	Object-fit: Contain;
	Width: 150px;
}