@import '../../../../../../../../../../Library/Code/Frontend/Source/Elements/Elements/DecorativeImageWithAlpha/Style';

@import './Selector';



#{$Selector}
{
	Height: 150px;
	Margin-block-end: 35px;
	Width: 150px;
}