@import '../../../Constants';

@import '../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Filters/Style';
@import './Optimizations/Style';

@import './Selector';



#{$Selector}
{
	@media #{$WideScreen}
	{
		Padding-block-end: 20px;
		Padding-block-start: 15px;
		Padding-inline: 20px;
	}

	&::After
	{
		@media #{$WideScreen}
		{
			Background: Linear-gradient(#FFF 5%,  Transparent 5%);
			Content: '';
			Display: Block;
			Height: 100%;
			Pointer-events: None;
			Position: Fixed;
			Top: 65px;
			Width: 100%;

			@media (Prefers-color-scheme: Dark)
			{
				Background: Linear-gradient(#000 5%,  Transparent 5%);
			}
		}
	}
}