@import '../../../Constants';

@import '../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Filters/Style';
@import './Optimizations/Style';

@import './Selector';



#{$Selector}
{
	@media #{$WideScreen}
	{
		Padding-block-end: 20px;
		Padding-block-start: 15px;
		Padding-inline: 20px;
	}

	&::After
	{
		Background: Linear-gradient(#FFF, #FFF, Transparent);
		Content: '';
		Display: Block;
		Width: 100%;
		Height: 5%;
		Position: Fixed;
		Left: 0;

		@media (Prefers-color-scheme: Dark)
		{
			Background: #000;
		}

		@media #{$WideScreen}
		{
			Top: 65px;
		}

		@media #{$NarrowScreen}
		{
			Top: 0;
		}
	}
}