@import '../../../Constants';

@import '../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Filters/Style';
@import './Optimizations/Style';

@import './Selector';



#{$Selector}
{
	@media #{$WideScreen}
	{
		Padding-block-end: 20px;
		Padding-block-start: 15px;
		Padding-inline: 20px;
	}

	&::After
	{
		@media #{$WideScreen}
		{
			Background-color: #FFF;
			Content: '';
			Display: Block;
			Width: 100%;
			Height: 5%;
			Position: Fixed;
			Top: 65px;
			Left: 0;

			@media (Prefers-color-scheme: Dark)
			{
				Background-color: #000;
			}
		}
	}
}