@use './Fonts/GoogleSans/Style' as GoogleSans;
@use './Fonts/Lora/Style' as Lora;



$Font_Title: GoogleSans.$Font;
$Font_UI: GoogleSans.$Font;
$Font_Text: GoogleSans.$Font;
$Font_Monospace: GoogleSans.$Font;



$Primary_Hue: 160;

$Primary_Lightness: 50%;
$Primary_Chroma: 0.185;

$Primary_Lightness_Dark: 80%;
$Primary_Chroma_Dark: 0.3;



$Gray_Hue: 225;
$Gray_Saturation: 5%;



$BorderRadius_Small: 1px;
$BorderRadius_Medium: 5px;
$BorderRadius_Big: 8px;