@use './Fonts/GoogleSans/Style' as GoogleSans;
@use './Fonts/Lora/Style' as Lora;



$Font_Title: GoogleSans.$Font;
$Font_UI: GoogleSans.$Font;
$Font_Text: Lora.$Font;



$Primary_Hue: 160;

$Primary_Lightness: 55%;
$Primary_Chroma: 0.185;

$Primary_Lightness_Dark: 80%;
$Primary_Chroma_Dark: 0.3;



$Gray_Hue: 225;
$Gray_Saturation: 5%;



$BorderRadius: 2.5px;