@import './Constants';

@import './Body/Style';



HTML
{
	Font-size: 16px;
	User-select: None;
	-webkit-tap-highlight-color: Transparent;

	@media (Prefers-color-scheme: Dark)
	{
		Color-scheme: Dark;
	}
}