@import './Constants';

@import '../../../../../Library/Code/Frontend/Source/FontSizes';
@import '../../../../../Library/Code/Frontend/Source/Focus';

@import './Body/Style';



HTML, Dialog
{
	Font-size: #{$FontSize_16};
	User-select: None;
	-webkit-tap-highlight-color: Transparent;

	@media (Prefers-color-scheme: Dark)
	{
		Color-scheme: Dark;
	}
}