@use '../../../../../../../../../Library/Code/Frontend/Source/Shadows' as Shadows;

@import '../../../../Constants';

@import '../../../../../../../../../Library/Code/Frontend/Source/Elevation';
@import '../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Selector';



#{$Selector}
{
	@include Elevation(2, 0);

	Z-index: 1;
	Position: Sticky;

	Display: Flex;
	Justify-content: Space-between;
	Align-items: Center;

	Padding: 20px;

	Border-radius: #{$BorderRadius_Big};
	Box-shadow: #{Shadows.$Medium};

	@media #{$WideScreen}
	{
		Top: #{65px + 15px};
	}

	@media #{$NarrowScreen}
	{
		Margin: 0 10px;
		Top: 10px;
	}

	@media (Prefers-contrast: More)
	{
		Box-shadow: None;
	}

	@media (Forced-colors: Active), (Prefers-contrast: More)
	{
		Border: 2px Solid CanvasText;
	}
}