@import './Description/Style';
@import './Name/Style';



$Gap: 7.5px;



#Root > Main > .Optimizations > UL > * > Div
{
	Display: Flex;
	Flex-direction: Column;
	Gap: #{$Gap} 0;
	User-select: Text;
}