@import './Logo/Style';
@import './Slogan/Style';

@import './Selector';



#{$Selector}
{
	Align-items: Center;
	Display: Flex;
	Flex-direction: Column;
	Padding-block: 125px;
	Padding-inline: 30px;
}