@import '../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Feature/Style';

@import './Selector';



#{$Selector}
{
	Margin: 0;
	Padding: 0;

	@media #{$WideScreen}
	{
		Display: Flex;
		Flex-wrap: Wrap;
		Gap: 15px;
		Padding-block-end: 50px;
		Padding-inline: 50px;
	}
}