@import '../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Optimization/Style';

@import './Selector';



$Gap: 10px;
$MinCardWidth: 400px;



#{$Selector}
{
	Margin: 0;
	Padding: 0;

	@media #{$WideScreen}
	{
		Display: Grid;
		Gap: #{$Gap};
		Grid-template-columns: Repeat(Auto-fill, MinMax(#{$MinCardWidth}, 1fr));
	}
}