@import '../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './ListItem/Style';

@import './Selector';



$Gap: $BorderRadius_Medium * 2;
$MinCardWidth: 400px;



#{$Selector}
{
	Padding: 0;
	Margin-block-end: 0;
	List-style: None;

	@media #{$WideScreen}
	{
		Display: Grid;
		Gap: #{$Gap};
		Grid-template-columns: Repeat(Auto-fill, MinMax(#{$MinCardWidth}, 1fr));
		Margin-block-start: 25px;
	}

	@media #{$NarrowScreen}
	{
		Margin-block-start: 15px;
	}
}