@import '../../../../../../Constants';

@import '../../../../../../../../../../../Library/Code/Frontend/Source/FontSizes';

@import './Selector';



#{$Selector}
{
	Font-family: #{$Font_Title};
	Font-size: #{$FontSize_24};
	Font-weight: 400;
	Margin-block: 35px 10px;
	Text-align: Center;
	User-select: Text;
}