@use '../../../Fonts/GoogleSans/Style' as GoogleSans;

@import '../../../../../../../../Library/Code/Frontend/Source/Colors/Primary';
@import '../../../../../../../../Library/Code/Frontend/Source/Elements/Elements/Heading/Style';
@import '../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Selector';



#{$Selector}
{
	Color: $Primary;
	Font-family: #{GoogleSans.$Font};
	Font-size: 20px;
	Font-weight: 500;
	Margin: 0;

	@media (Prefers-color-scheme: Dark)
	{
		Color: $Primary_Dark;
	}

	@media (Prefers-contrast: More)
	{
		Color: CanvasText;
	}

	@media (Monospace)
	{
		Color: CanvasText;
	}
}