@use '../../../../../../../../../../../Library/Code/Frontend/Source/Shadows' as Shadows;

@import '../../../../../../Constants';

@import '../../../../../../../../../../../Library/Code/Frontend/Source/Colors/Gray';
@import '../../../../../../../../../../../Library/Code/Frontend/Source/Elevation';
@import '../../../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Description/Style';
@import './Name/Style';
@import './Tags/Style';

@import './Selector';



$Elevation: 2;
$Padding: 25px;
$BorderColor_WideScreen: Gray(75%);
$BorderColor_NarrowScreen_LightTheme: Gray(85%);
$BorderColor_NarrowScreen_DarkTheme: Gray(25%);



#{$Selector}
{
	Box-sizing: Border-box;
	Color: Initial;
	Display: Block;
	Height: 100%;
	Padding: #{$Padding};
	Text-decoration: None;

	@media #{$WideScreen}
	{
		Border: 1px Solid #{$BorderColor_WideScreen};
		Border-radius: #{$BorderRadius_Medium};
		Transition: Box-shadow 200ms;

		@media (Prefers-color-scheme: Dark)
		{
			@include Elevation($Elevation, 0);

			Border: None;
		}

		@media (Prefers-contrast: More)
		{
			Border-color: CanvasText;
		}

		&:Hover:Not(:Active)
		{
			Box-shadow: #{Shadows.$Medium};
		}
	}

	@media #{$NarrowScreen}
	{
		Border-block-start: 1px Solid #{$BorderColor_NarrowScreen_LightTheme};

		@media (Prefers-color-scheme: Dark)
		{
			Border-block-end-color: #{$BorderColor_NarrowScreen_DarkTheme};
		}

		@media (Prefers-contrast: More)
		{
			Border-color: CanvasText;
		}
	}
}