@import '../../../../Constants';

@import '../../../../../../../../../Library/Code/Frontend/Source/Elements/Elements/Paragraph/Style';

@import './Selector';



#{$Selector}
{
	Font-family: #{$Font_Title};
	Margin: 0;
	Margin-block-end: 45px;
	Text-align: Center;
	User-select: Text;
}