@use '../../../../../../../../../Library/Code/Frontend/Source/Shadows' as Shadows;

@import '../../../../../../../../../Library/Code/Frontend/Source/Elevation';

@import './Preset/Style';

@import './Selector';



$Elevation: 2;
$Padding: 20px;
$Shadow: Shadows.$Medium;



#{$Selector}
{
	Padding: #{$Padding};
	Box-shadow: #{$Shadow};
	Border-radius: #{$BorderRadius_Big};

	@media (Prefers-color-scheme: Dark)
	{
		@include Elevation($Elevation, 0);
	}

	@media (Prefers-contrast: More)
	{
		Box-shadow: None;
	}

	@media (Forced-colors: Active), (Prefers-contrast: More)
	{
		Border-color: CanvasText;
		Border-style: Solid;
		Border-width: 2px;
	}
}