@use '../../../../../../../../../Library/Code/Frontend/Source/Shadows' as Shadows;

@import '../../../../../../../../../Library/Code/Frontend/Source/Elevation';

@import './Preset/Style';

@import './Selector';



$Elevation: 2;
$Padding: 20px;
$Shadow: Shadows.$Medium;



#{$Selector}
{
	Border-radius: #{$BorderRadius_Big};
	Box-shadow: #{$Shadow};
	Padding: #{$Padding};

	@media (Prefers-color-scheme: Dark)
	{
		@include Elevation($Elevation, 0);
	}

	@media (Prefers-contrast: More)
	{
		Box-shadow: None;
	}

	@media (Forced-colors: Active), (Prefers-contrast: More)
	{
		Border: 2px Solid CanvasText;
	}
}