@import './Arrow/Style';
@import './Code/Style';

@import './Selector';



#{$Selector}
{
	Gap: 35px;
	Margin-block-start: 35px;

	@media (Width >= 1000px)
	{
		Align-items: Center;
		Display: Grid;
		Grid-template-columns: 1fr Auto 1fr;
	}

	@media (Width < 1000px)
	{
		Align-items: Center;
		Display: Flex;
		Flex-direction: Column;
	}
}