@import '../../../../../../Constants';

@import '../../../../../../../../../../../Library/Code/Frontend/Source/Elements/Elements/Heading/Style';
@import '../../../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Selector';



$FontFamily: $Font_Title;
$FontWeight: 400;
$FontSize_WideScreen: 24px;
$FontSize_NarrowScreen: 22px;



#{$Selector}
{
	Font-family: #{$FontFamily};
	Font-weight: #{$FontWeight};
	Line-height: 1;
	Margin: 0;
	Margin-block-end: 10px;

	@media #{$NarrowScreen}
	{
		Font-size: #{$FontSize_NarrowScreen};
	}
}