@import '../../../../../Constants';

@import '../../../../../../../../../../Library/Code/Frontend/Source/Colors/Gray';
@import '../../../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Selector';



#{$Selector}
{
	Border: 1px Solid #{Gray(75%)};
	Border-radius: #{$BorderRadius_Medium};
	Font-family: #{$Font_Monospace};
	Font-size: 14px;
	Outline: None;
	Overflow: Auto;
	Padding: 25px;
	User-select: Text;
	Transition: Border-color 250ms;

	@media #{$NarrowScreen}
	{
		Width: 100%;
		Box-sizing: Border-box;
	}

	@media (Prefers-color-scheme: Dark)
	{
		Border-color: #{Gray(25%)};
	}

	&:Hover
	{
		Border-color: #{Gray(50%)};
	}

	&:Focus
	{
		Border-color: #{Gray(25%)};

		@media (Prefers-color-scheme: Dark)
		{
			Border-color: #{Gray(75%)};
		}
	}
}