@import '../../../../../Constants';

@import '../../../../../../../../../../Library/Code/Frontend/Source/Colors/Gray';

@import './Selector';



#{$Selector}
{
	Border: 1px Solid #{Gray(75%)};
	Border-radius: #{$BorderRadius * 2};
	Font-family: #{$Font_Monospace};
	Font-size: 14px;
	Overflow: Auto;
	Padding: 28px;
	User-select: Text;

	@media (Prefers-color-scheme: Dark)
	{
		Border-color: #{Gray(25%)};
	}
}