@import '../../../Constants';

@import '../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Code/Style';
@import './Options/Style';
@import './Statistics/Style';

@import './Selector';



#{$Selector}
{
	@media #{$WideScreen}
	{
		Padding-block: 15px 20px;
		Padding-inline: 20px;
	}

	@media #{$NarrowScreen}
	{
		Padding: 10px;
		Padding-block-start: 0;
	}
}