@use '../../../../../../../Library/Code/Frontend/Source/FallbackFonts' as FallbackFonts;



$Font: 'JetBrains Mono', FallbackFonts.$Monospace;



@font-face
{
	Font-display: Swap;
	Font-family: 'JetBrains Mono';
	Src: URL(./Assets/400.ttf);
}