@import '../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './About/Style';
@import './Guide/Style';

@import './Selector';



#{$Selector}
{
	Flex-grow: 1;
	Font-family: #{$Font_UI};

	@media #{$NarrowScreen}
	{
		Margin-block-end: 65px;
	}

	& > :Not(.Selected)
	{
		Display: None;
	}
}