@import '../../Constants';

@import '../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './About/Style';
@import './Optimizations/Style';
@import './Playground/Style';

@import './Selector';



#{$Selector}
{
	Font-family: #{$Font_UI};

	@media #{$WideScreen}
	{
		Margin-block-start: 65px;
	}

	@media #{$NarrowScreen}
	{
		Margin-block-end: 65px;
	}

	& > :Not(.Selected)
	{
		Display: None !important;
	}
}