@import '../../../Constants';

@import '../../../../../../../../Library/Code/Frontend/Source/MediaQueries/ScreenWidth/Style';

@import './Selector';



#{$Selector}
{
	Font-family: #{$Font_Title};
	Font-weight: 400;
	User-select: Text;

	@media #{$WideScreen}
	{
		Font-size: 60px;
	}

	@media #{$NarrowScreen}
	{
		Font-size: 36px;
	}
}