@use '../../../../../../../Library/Code/Frontend/Source/FallbackFonts' as FallbackFonts;



$Font: 'Lora', FallbackFonts.$Serif;



@font-face
{
	Font-display: Swap;
	Font-family: 'Lora';
	Src: URL(./Assets/400_a-Z.,.woff2);
}