@import '../../../../../../Constants';

@import '../../../../../../../../../../../Library/Code/Frontend/Source/Elements/Elements/Heading/Style';

@import './Selector';



#{$Selector}
{
	Font-family: #{$Font_Title};
	Font-size: 24px;
	Font-weight: 400;
	Margin-block: 35px 10px;
	Text-align: Center;
	User-select: Text;
}