@use '../../../../../../Library/Code/Frontend/Source/Elevation';

@import './BottomNavigation/Style';
@import './Header/Style';
@import './Main/Style';
@import './Selector';



$Elevation: 0;



#{$Selector}
{
	@include Elevation($Elevation, 0);

	Display: Flex;
	Flex-direction: Column;
	Height: 100%;
	Margin: 0;
}