@import '../../../../Constants';

@import './Logo/Style';
@import './Slogan/Style';

@import './Selector';



#{$Selector}
{
	Align-items: Center;
	Box-sizing: Border-box;
	Display: Flex;
	Flex-direction: Column;
	Gap: 35px 0;
	Height: 100%;
	Justify-content: Center;
	Padding-block: 125px;
	Padding-inline: 30px;
}